/*Navbar Section*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff7b00;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;

  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a:hover {
  color: #ff7b00;
}

.navbar .auth {
  display: flex;
  gap: 10px;
}

.navbar .auth button {
  margin-left: 10px;
  padding: 6px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size : 0.9rem;
}

.login {
  background: transparent;
  border: 1px solid #333;
  color: #333;
}

.signup {
  background: #ff7b00;
  color: #fff;
}

.mobile-nav-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  z-index: 1001;
}

.mobile-nav-toggle .fa-xmark {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*Navbar Section Ends*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------*/

/*Exploration Section*/
.exploration{
  text-align: center;
  padding: 60px 20px;
}
.exploration p{
  font-size: 16px;
  color: black;
}
.exploration h1{
  font-size: 48px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

/*-------------------------------*/

/*Vehicle Card Section*/
.vehicle-topic{
  text-align: center;
  padding: 40px 20px;
}
.vehicle-topic h2{
  font-size: 36px;
  color: black;
  margin-bottom: 10px;
}
.vehicle-topic p{
  font-size: 16px;
  color: black;
  margin-bottom: 40px;
}

/*----------------------------*/

.vehicle-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.vehicle-list li{
  width: calc(25% - 20px);
  border:1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;

  /* Adding Hover Effect */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}


.vehicle-list li img{
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px 8px 0 0;
  height: 180px;
  object-fit: contain;
}
.vehicle-list li h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.vehicle-list li h4{
  font-size: 14px;
  color:black;
  font-weight: normal;
  margin-bottom: 10px;
}
.vehicle-list li p{
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}
.vehicle-list li a{
  display: block;
  background-color: white;
  color: black;
  margin-top: auto;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*----------------------------*/

.view-all-button{
  text-align: center;
}
.view-all-button a{
  display: inline-block;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*----------------------------*/

/*Footer Section*/

footer {
  background: #222;
  color: #ddd;
  padding: 50px 60px 30px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-left {
  max-width: 300px;
}

.footer-left .logo {
  color: #ff7b00;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe input {
  padding: 14px 20px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 250px;
}

.subscribe button {
  padding: 12px 20px;
  font-size: 1rem;
  background: #ff7b00;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.subscribe button:hover {
  background: #e56c00;     
}
.subscribe {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;   
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-links h4 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
}

.footer-links a {
  text-decoration: none;
  color: #ddd;
  display: block;
  margin-bottom: 6px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ff7b00;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
  margin-left: 15px;
}

.footer-bottom a:hover {
  color: #ff7b00;
}
.footer-left p {
  margin-bottom: 15px;
}

/*Footer Section Ends*/

/*responsive Section*/

/*Tablet Screens*/
@media (max-width: 900px) {
  .vehicle-list li{
    width: calc(50% - 20px);
  }
}

/*mobile screens*/
@media (max-width: 600px) {
  .vehicle-list li{
    width: 90%;
  }

  .footer-details{
    flex-direction: column;
  }
  .right-section{
    flex-direction: column;
  }
  .exploration h1{
    font-size: 32px;
  }
  .vehicle-topic h2{
    font-size: 28px;
  }
}

/*----------------------------*/

/* Hovering Editing Section*/ 

/*Hover Effect For Vehicel Card List*/

.vehicle-list li:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.vehicle-list li a:hover {
  background-color: black;
  color: white;
}

/*Hover Effect For View All Button*/
.view-all-button a:hover {
  background-color: black;
  color: white;
}
/*Hover Effect For Subscribe Button*/
.Subscription button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/*----------------------------*/
